div.tablerow,article,aside#simple,div#team{
    border: solid #999 1px;
    padding: 20px;
}
div.tablerow{
    margin: 20px;
    background-color: #eeeeee;
    overflow: auto;
    zoom:1;
}
article#main,aside#simple,div#team{
    background-color: #ffffff;
}
div#team{
    float: left;
    width:200px;
}
aside#simple{
    float: right;
    width: 80px;
}
article#main{
    margin: 0 140px 0 260px;
}
div#team p{
    float: right;
    margin-right: 30px;
}
aside#simple ul{
    list-style-type: none;
    padding: 0 10px;
}
aside#simple li{
    margin: 10px 0;
}
aside#simple li image{
   margin:20px auto 20px;
    border: solid #eeeeee 1px;
}