body,main,aside#simple,div#team{
    border: solid #999 1px;
    padding: 20px;
}
body{
    display: table;
    background-color: #eeeeee;
    border-spacing: 10px;
}
body div.tablerow{
    display: table-row;
}
main,aside#simple,div#team{
    display: table-cell;
    background-color: #ffffff;
    vertical-align: top;
}
div#team p{
    float: right;
    margin-right: 30px;
}
aside#simple{
    width: 120px;
}
div#team{
    width:200px;
}
aside#simple ul{
    list-style-type: none;

}
aside#simple li{
    margin: 20px 20px 20px 10px;
}