body,main,aside#simple,div#team{
    border: solid #999 1px;
    padding: 20px;
}
body{
    background-color: #eeeeee;
    width: 100%;
}
div.tablerow{
    width: 100%;
}
main,aside#simple,div#team{
    background-color: #ffffff;
}
main#main{
    margin: 0 230px 0 260px;
}
div#team{
    position: absolute;
    top: 30px;
    left: 30px;
    width:200px;
}
aside#simple{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 120px;
}
div#team p{
    float: right;
    margin-right: 30px;
}
aside#simple ul{
    list-style-type: none;
    padding: 0 10px;
}
aside#simple li{
    margin: 10px 0;
}
aside#simple li image{
   margin:20px auto 20px;
    border: solid #eeeeee 1px;
}