body{
    font-family:Microsoft YaHei;
    background-color: #cccccc;
    margin:0;
}
p{
    line-height: 150%;
}
h2{
    font-weight: 700;
    font-size: 1.5em;
    color: #000;
}
h3{
    font-size: 1em;
    color:#666;
}
h3+p{
    font-size: 0.8em;
    color:#999;
}
header{
    background: #333;
    color: #ffffff;
    margin: 0;
    padding: 20px 10px 20px 10px;
    height:50px;

}
header h1{
    display: inline;
    width: 80%;
}
header nav{
    float: right;
    color: black;
    margin-left: 1px;
    margin-top: 20px;
    font-size: 0.8em;
}
header nav ul{
    list-style-type: disc;
    list-style-position:outside;
    margin: 10px 0 10px 0;
    float:right;

}
/*display: inline-block*/
header nav li{
    float:left;
    margin: 0 15px;
    padding:0 5px;
}
header nav li a{
    display:inline-block;
    text-decoration: none;
}
header nav li a:link{
    color: white;
}
header nav li a:visited{
    color:#666666;
}
main{
    background-color:#cccccc;
    padding: 10px;
}
article{
    margin:20px;
    padding: 30px 30px;
    background-color: #ffffff;
}
article ul{
    list-style-type: none;
}
/*
  first-child前边的元素是其父元素第一个子元素而非该元素的第一个子元素
  同理 nth-child(n)不分类型
       :nth-of-type(n)分类型
  text-indent首行缩进
*/
p.firstp{
    text-indent: 40px;
}
#pictureslist{
    margin:20px;
    padding: 10px 10px;
    background-color: #ffffff;
    height: 2100px;
}
#pictureslist h3{
    font-weight: 700;
    font-size: 1.5em;
    color: #000;
}
#pictureslist ul{
    list-style-type: none;
    border: #cccccc 10px ;
}
#pictureslist ul li{
    float: left;
    clear: left;
    text-align: center;
    border:#cccccc 1px solid;
    margin: 10px;
    padding: 10px;
}

aside{
    margin:20px;
    padding: 10px 10px;
    background-color: #ffffff;
}
aside form{
    font-size: 95%;
    width: 100%;
    line-height: 100%;
    margin: 0 auto;
    text-align: center;
}
aside form table{
    width: 80%;
}
aside form table td {
    display: table-cell;
    vertical-align:top;
    padding: 3px;
}
aside form table tr td:first-child{
    text-align: right;
    width: 40%;
}
aside form table tr td p{
    color: #999999;
}
aside form textarea{
     width:600px;
     height:200px;
 }
aside #submit{
    background-color: #06c;
    width: 95%;
    font-size: large;
    border-radius: 10px;
    height: 45px;
    color: #ffffff;
}
footer{
    background: #000;
    color: #ffffff;
    height: 90px;
    text-align: center;
    font-size: .7em;
}
footer p{
    margin:0;
    line-height: 50px;
    vertical-align:150%;
}
ol+p{
    margin-bottom: 0;
}
table{
    border-collapse:collapse;
    border-color: #ffffff;
    border-style: solid ;
    font-size: 90%;
    width: 100%;

}
table tr td,table tr th{
    text-align: left;
    padding: 0.5em 0.5em 0.5em 0.5em ;
    width: 30%;
}
table tr td{
    font-size: 80%;
}

table th{
    background-color: #333333;
    color: #ffffff;
}
tr.footer{
    background-color:#bbb;
    font-weight: bolder;
}

